<button (click)="closeDetail()">Volver</button>

@if (isLoading()) {
  <awc-loading-spinner></awc-loading-spinner>
} @else{
  @let prov = detalle();

  @if(prov){

    <div class="detalle-container">
  
      @if (prov.gallery.length && prov.type === 'Destacado') {
        <awc-image-slider
          [images]="prov.gallery"
          [autoSlide]="true"
          [interval]="4000">
        </awc-image-slider>
      } @else {
        <div class="imagen-principal">
        <img  class="imagen-principal"
          [src]="prov.thumbnail || prov.prv_image || 'https://via.placeholder.com/250x350?text=Sin+Imagen'" 
          alt="Imagen destacada">
      </div>
        
      }
  
      <h2>{{ prov.title }}</h2>
  
      <div class="etiquetas">
        @for (tag of prov.tags; track $index) {
          
            <span> {{ tag.charAt(0).toUpperCase() + tag.slice(1) }}@if($index < prov.tags.length - 1){,} </span>
        }
      </div>

      @if (prov.type === 'Destacado') {
        <div class="descripcion" [innerHTML]="getSanitizedContent(prov.content)"></div>

        <div class="descripcion">
          {{prov.description_full}}
        </div>
      }

  
      <div class="info-container">
        <div class="contacto">
          <h4>Contacto:</h4>
          <p><strong>Domicilio:</strong> {{ prov.address }}</p>
          <p><strong>Contacto Directo:</strong> {{ prov.direct_contact }}</p>
          <p><strong>Teléfono:</strong> {{ prov.phone }}</p>
          <p><strong>Whatsapp:</strong> {{ prov.whatsapp }}</p>
          <p><strong>Email:</strong> {{ prov.email }}</p>
          <p><strong>Web:</strong> <a [href]="prov.website" target="_blank"> {{ prov.website }}</a></p>
          <p><strong>Tienda Online:</strong> <a [href]="prov.store" target="_blank"> {{ prov.store }}</a></p>

          @for(red of prov.social; track $index){
            <p><strong>{{red.id}}:</strong> <a [href]="red.url" target="_blank"> {{ red.url }}</a></p>
          }

          <div class="horarios" style="padding-right: 100px;">
            <h4>Horarios:</h4>
            <div class="horarios-lista">
              @for (dia of dias; track $index) {
                <div class="fila">
                  <span class="dia">{{ dia }}</span>
                  <span class="horario">
                    {{
                      prov?.horarios?.[dia.toLowerCase()]?.desde1
                        ? prov.horarios[dia.toLowerCase()].desde1 + ' - ' + prov.horarios[dia.toLowerCase()].hasta1
                        : 'Cerrado'
                    }}
                    {{
                      prov?.horarios?.[dia.toLowerCase()]?.desde2
                        ? ' / ' + prov.horarios[dia.toLowerCase()].desde2 + ' - ' + prov.horarios[dia.toLowerCase()].hasta2
                        : ''
                    }}
                  </span>
                </div>
              }
            </div>
          </div>
        </div>
        
        @if (prov.type === 'Destacado' && prov.lat && prov.lng) {
          @if(mapaUrl()){
            <div class="mapa">
              <iframe 
                style="max-height: 500px;"
                width="100%" 
                height="300" 
                [src]="mapaUrl()"
                allowfullscreen
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
              </iframe>
            </div>
          }
        }
      </div>
  
    </div>

    @if(prov.type === 'Destacado' &&  prov.notas && prov.notas.length){
      <div class="notas">
        <h3>Notas</h3>
  
        @for (nota of prov.notas; track $index) {
          <div class="nota-card">
            <p class="nota-texto">{{ nota.texto }}</p>
            @if (nota.imagenes && nota.imagenes.length) {
              <div class="nota-imagenes">
                @for (img of nota.imagenes; track $index) {
                  <img [src]="img" alt="Imagen de nota">
                }
              </div>
            }
          </div>
        }
      </div>
    }

  }
}


