<div class="tabs">
    <button class="tab" [class.active]="tabActiva() === 'viveros'" (click)="cambiarTab('viveros')">Viveros</button>
    <button class="tab" [class.active]="tabActiva() === 'cultivos'" (click)="cambiarTab('cultivos')">Cultivos</button>
    <button class="tab" [class.active]="tabActiva() === 'proveedores'" (click)="cambiarTab('proveedores')">Proveedores</button>
  </div>

  <div class="filtros">
    <input type="text" placeholder="Buscar empresa..." [(ngModel)]="filtroActivo().nombre">

    <select [(ngModel)]="filtroActivo().categoria">
      <option value="">Todas las categorías</option>
       @for(cat of categorias; track $index){
        <option [value]="cat">{{ cat }}</option>
       }
      
    </select>

    <div class="etiquetas">
      @for(tag of etiquetas; track $index){
        <label>
        <input type="checkbox"
              [value]="tag"
              [checked]="filtroActivo().etiquetas.includes(tag)"
              (change)="onTagCheckboxChange(tag, $event)">
        {{ tag }}
      </label>
      }
      
    </div>

    <button (click)="aplicarFiltros()">Buscar</button>
  </div>


  <div class="grid">
    @for (item of listadosFiltrados(); track $index) {
      <awc-provider-card
        [data]="item"
        [tab]="tabActiva()"
        (select)="select(item)">
      </awc-provider-card>
    }
  </div>


  <div class="pagination">
    @for (pagina of [].constructor(totalPaginas()); track $index) {
      <button 
        class="page-btn" 
        [class.active]="paginaActual() === $index + 1"
        (click)="paginaActual.set($index + 1)">
        {{ $index + 1 }}
      </button>
    }
  </div>